<div class="container" id="home_box">

	<div class="col-md-6 welcome_box">
		<h2 class="center">Welcome to fakebook</h2>
		<p>This site is a clone of a popular site you may have seen before. You should find much of the same functionality available here.</p>
		<p>You will be able to:</p>
		<ul>
			<li>Manage and edit your profile</li>
			<li>Search and add friends</li>
			<li>Share posts and photos</li>
			<li>Like and comment on others' posts</li>
	</div>

	<div class="col-md-6 welcome_box signin_box">
	<p class="center">To get started, please sign in securely using your facebook account or create a new account below</p>

	<br><br>

	<p class="center">------- OmniAuth Image Placeholder --------</p>

	<br><br>

	<p class="center">OR</p>

	<%= render "signup_form" %>

	</div>

</div>

