<%= render 'shared/user_sidebar' %>

<div class="col-md-8">

	<% if @user == current_user %>
		<%= render 'shared/post_form' %>
	<% end %>

	<h2><%= @user.full_name %>'s Posts</h2>
	<%= render '/shared/post_list' %>

</div>

<div class="col-md-2">
</div>