<%= render '/shared/user_sidebar' %>

<div class="col-md-8">


<h2>My Friends</h2>

<% @friends.each do |friend| %>
	<div class="user-container">
	<p><%= image_tag friend.profile.avatar.url(:thumb) %> <%=link_to friend.full_name, profile_path(friend.id) %> </p>
</div>
<% end %>

<div class="col-md-2">
</div>

