<% @posts.sort_by{ |p| p.created_at}.reverse.each do |post| %>

<div class="post-box">
<p class="post-header"><%= post.user.full_name %> posted:</p>
<p>"<%= post.content %>"</p>
<p><%= time_ago_in_words(post.created_at) %> ago</p>
<% if current_user == post.user %>
<p><%= link_to "Delete post", post, method: :delete,
		data: { confirm: "Are you sure you want to delete this post?" } %></p>
<% end %>
</div>

<% end %>