<% @posts.sort_by{ |p| p.created_at}.reverse.each do |post| %>

	<%= render '/posts/post_body', post: post %>

	<% post.comments.each do |comment| %>
		<%= render '/comments/comment_body', comment: comment %>
	<% end %>

	<%= render '/comments/comment_form', post: post  %>

	</div>
<% end %>