@import "bootstrap";
@import "bootstrap-sprockets";

.center {
	text-align: center;
}

/* header */

#logo {
  float: left;
  margin-left: 30px;
  font-size: 2.3em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar {
	background-color: #4D70B8;
	height: 40px;
}

.header_link {
	color: white;
}

body {
	background-color: #E6E6E6;
	margin-top: 30px;
}

#home_box {
	margin-left: auto;
	margin-right: auto;

	width: 80%;
}

.welcome_box {
	margin-top: 20px;
}

.signin_box {
	margin-top: 100px;
}

.signup-name {
	width: 40%
}

.signup-field {
	margin-bottom: 15px;
}

.spacer {
	height: 30px;
}

.post-box {
	padding: 10px;
	width: 75%;
	background-color: white;
	margin-top: 25px;
	border-bottom: 2px;
}